<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="droid.ravi.mrrobot.AttendanceManager">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="droid.ravi.mrrobot.AttendanceManager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="droid.ravi.mrrobot.AttendanceManager.EditorActivity"
            android:theme="@style/Edit"/>


        <provider
            android:name="droid.ravi.mrrobot.AttendanceManager.SubjectProvider"
            android:authorities="droid.ravi.mrrobot.AttendanceManager" />

        <receiver android:name="droid.ravi.mrrobot.AttendanceManager.AlarmReciever">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
            <category android:name="android.intent.category.HOME" />
        </intent-filter>
        </receiver>

        <activity android:name="droid.ravi.mrrobot.AttendanceManager.AboutActivity">

        </activity>
    </application>

</manifest>